/* src/styles/Blogs.module.css */
.container {
    padding: 2rem 1.5rem 2rem;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: calc(100vh - 72px);
}

.heading {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.errorMessage,
.loadingMessage {
    color: #ff6f61;
    font-size: 1rem;
}

.loadingMessage {
    color: white;
    font-size: 1rem;
    text-align: center;
}

.blogCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
}

.blogPagination {
    margin-top: 2rem;
}

.errorMessage {
    color: #ff6f61;
    font-size: 1rem;
    text-align: center;
}

.blogs {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.blogsLoading {
    opacity: 0.5;
    pointer-events: none;
    /* Optional: prevent clicking while loading */
    transition: opacity 0.3s ease;
}

.searchContainer {
    position: relative;
    width: 100%;
    display: flex;
}

.searchInput {
    width: 100%;
    padding-right: 2rem; /* Make space for spinner */
    height: 2.5rem;
    font-size: 1rem;
    padding-left: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Tiny spinner */
.spinner {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    border: 2px solid #ccc;
    border-top: 2px solid #333;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
}

/* Spinner animation */
@keyframes spin {
    0% { transform: translateY(-50%) rotate(0deg); }
    100% { transform: translateY(-50%) rotate(360deg); }
}

