.container {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: linear-gradient(to right, #3b4244, #1e1f1f);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 80px;
}

.wrapper {
  width: 100%;
  max-width: 600px;
  padding: 8px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #45a049;
}

.status {
  margin-top: 20px;
}
