.container {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 80%;
  background: linear-gradient(to right, #3b4244, #1e1f1f);
  padding: 16px;
  padding-top: 80px;
}

.wrapper {
  width: 100%;
  max-width: 800px;
  background: none;
}

.inputRow {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.proceedButton {
  padding: 0 15px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #007acc;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.proceedButton:hover {
  background-color: #005f99;
}

.section {
  margin-top: 20px;
}

.dropdown {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px 0;
  width: 100%;
}

.iframe {
  width: 100%;
  max-width: 640px;
  height: 360px;
  border: none;
  margin-top: 20px;
}
