.App {
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #3b4244, #1e1f1f);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-header {
  max-width: 90%;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.App-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.App-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.start-btn {
  background-color: #ffffff;
  color: #232526;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.start-btn:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}
